
#titulo{
	margin-right: 400px;
    margin-left: 400px;
	background-color: #ff4d4d;
	color: white;
	font-size: 50px;
	border-radius: 5px;
}

#espera{
	display:none;
}

#mensagem{
	font-weight: bold;
}